body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

table, tbody, tr, td {
    padding: 0;
    margin: 0;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table.main-container {
    background-color: lightgray;
    width: 1000px;
}

table.menu-container {
    width: 100%;
    height: 60px;
    padding: 5px 10px 5px 10px;
    border-spacing: 0;
}

table.menu-container td {
    border-top: 4px inset;
    border-bottom: 4px inset;
    width: 150px;
}

table.menu-container td:nth-child(1) {
    border-left: 4px inset;
}

table.menu-container td:nth-child(7) {
    border-right: 4px inset;
}

table.menu-container button {
    background-color: goldenrod;
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 4px outset darkgoldenrod;
    font-size: 28px;
    text-shadow: 0 1px darkgoldenrod;
}

table.menu-container button:active {
    background-color: darkgoldenrod;
    border: 4px outset rgb(107, 79, 7);
    text-shadow: 0 1px rgb(107, 79, 7);
}

table.map-and-side-container {
    width: 100%;
}

table.map-and-side-container td:nth-child(1) {
    width: 800px;
}

div.map-container {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 800px;
    height: 640px;
    overflow: hidden;
}

table.map {
    border-collapse: collapse;
    position: relative;
}

table.map td.terrain-ocean {
    background-image: url('images/ocean.gif');
}
table.map td.terrain-grass {
    background-color: green;
}
table.map td.terrain-forest {
    background-color: darkgreen;
}
table.map td.terrain-mountains {
    background-color: grey;
}

table.map td {
    min-width: 64px;
    height: 64px;
    padding: 0;
}

table.side-container {
    height: 640px;
}

table.side-container tr {
    height: 18%;
}

div.minimap {
    border: 4px inset;
    background-color: black;
    height: 80px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

table.side-container tr:nth-child(2), table.side-container tr:nth-child(6) {
    height: 14%;
}

table.side-container tr:nth-child(2) td, 
table.side-container tr:nth-child(3) td, 
table.side-container tr:nth-child(4) td,
table.side-container tr:nth-child(5) td  { 
    border: 4px inset;
}

table.side-container tr:nth-child(2) td {
    width: 50%;
}

td.next-turn-container div {
    margin: 5px 10px 5px 10px;
    border: 4px inset;
    height: 50px;
}

td.next-turn-container button {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 4px outset lightgray;
    font-size: 28px;
    color: goldenrod;
    text-shadow: 0 1px black;
    background-color: lightgray;
}

td.next-turn-container button:active {
    border: 4px outset darkgray;
    background-color: darkgray;
}